*
{
    margin: 0;
    padding: 0;
    max-height: 1;
    max-width: 1;
    overflow: hidden;
}


#carga
{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #afc3d4;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    z-index: 999;
    transition: all 1s ease;
}

.nombre
{
    position: relative;
    padding-bottom: 40%;
    transition: all 0.6s ease;
}

.nombre h1
{
    font-size: 700%;
    font-family: "Fugaz One", "Lexend", Verdana, sans-serif;
    padding-top: 10%;
}

#eric
{
    position: absolute;
    top: 0%;
    right: 30%;
    text-shadow: rgba(255, 255, 255, 0.167) 10px 10px 5px;
    transition: transform 0.4s ease;
}

#nach
{
    position: absolute;
    top: 30%;
    right: 7%;
    text-shadow: rgba(255, 255, 255, 0.167) -10px 10px 5px;
    transition: transform 0.4s ease;
}

/*Esto es la pantalla de carga antes de que carguen los estilos*/