*
{
    margin: 0;
    padding: 0;
    max-height: 1;
    max-width: 1;
    overflow: hidden;
}


#carga
{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #afc3d4;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    z-index: 999;
    transition: all 1s ease;
}

/*Esto es la pantalla de carga antes de que carguen los estilos*/